.vscode/
.idea/
.vs/
*.sublime-workspace

/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

*.suo
*.user
*.userosscache
*.sln.docstates

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.DS_Store*
._*
~*
*~
.Spotlight-V100
.Trashes
.txt
.log
.tmp
.bk
.env

ehthumbs.db
[Tt]humbs.db

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Oo]ut/

x64/
x86/
build/
bld/
msbuild.log
msbuild.err
msbuild.wrn
